.grid-info {
    border: solid 1px #fff;
    zoom: 1;
    /* IE6&7 */
    padding-bottom: 15px;
    background-color: #ed7f7b;

}

.navbar .navbar-brand img {
    height: 15px;
    transform: scale(3);
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: #ed7f7b !important;
}

.open .dropdown-toggle {
  color: #fff ;
  background-color: #555 !important;
}

.grid-info h1 {
    font-family: verdana;
    color: #fa0800;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.grid-info h3 {

    font-family: cursive;
    color: #fff;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.grid-info p {
    color: #fff;
    font-family: fantasy;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    


}

.container-fluid {
    background-color: #2e3136;
    color: #fff;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    ;
}

.carousel-caption p {
    color: #000;
    text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.row .img-fluid {
    width: 300px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }

}

.footer-copyright {
    background-color: #141414;
    color: white;
    position: relative;
}
